.slide-left {
  transform: translateX(-90%) scale(0.9);
  opacity: 0.6;
  z-index: 10;
}

.slide-center {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  z-index: 20;
}

.slide-right {
  transform: translateX(10%) scale(0.9);
  opacity: 0.6;
  z-index: 10;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(10%);
    opacity: 0.6;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(-90%);
    opacity: 0.6;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-in-out;
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-in-out;
}
